<template name="pricing">
	<div id="pricing">
		<div class="bronze">
			<h1>Near Exact Replica of Modern Existing Site</h1>
			<div class="row1">
				<p>Color Change</p>
			</div>
			<div class="row2">
				<p>Custom Logo</p>
			</div>
			<div class="row3">
				<p>Several Inner Pages (based on one template)</p>
			</div>
			<div class="row4">
				<img src="../../images/X.png" width="16" height="15" alt="X">
			</div>
			<div class="row5">
				<img src="../../images/X.png" width="16" height="15" alt="X">
			</div>
			<div class="row6">
				<img src="../../images/X.png" width="16" height="15" alt="X">
			</div>
			<div class="row7">
				<img src="../../images/sign_up.png" width="160" height="53" alt="Sign Up">
			</div>
		</div>
		<div class="gold">
			<h1>Extended Custom Branding Experience</h1>
			<div class="row1">
				<p>Unlimited Takes</p>
			</div>
			<div class="row2">
				<p>Custom Logo</p>
			</div>
			<div class="row3">
				<p>Contact Form</p>
			</div>
			<div class="row4">
				<p>Blog and/or other Dynamic Database-Driven Content</p>
			</div>
			<div class="row5">
				<p>Multiple Animations</p>
			</div>
			<div class="row6">
				<p>Unlimited Inner Page Templates</p>
			</div>
			<div class="row7">
				<img src="../../images/sign_up.png" width="160" height="53" alt="Sign Up">
			</div>
		</div>
		<div class="silver">
			<h1>Mashup of Several Influence Sites</h1>
			<div class="row1">
				<p>Layout & Style Influences</p>
			</div>
			<div class="row2">
				<p>Custom Logo</p>
			</div>
			<div class="row3">
				<p>Contact Form</p>
			</div>
			<div class="row4">
				<p>Homepage Animation</p>
			</div>
			<div class="row5">
				<p>2 Templates for Inner pages</p>
			</div>
			<div class="row6">
				<img src="../../images/X.png" width="16" height="15" alt="X">
			</div>
			<div class="row7">
				<img src="../../images/sign_up.png" width="160" height="53" alt="Sign Up">
			</div>
		</div>

	</div>
</template>