<template name="services">
	<div id="services">
		<h1>Additional Services</h1>
		<p><img src="../../images/check.png" width="24" height="24" alt="Check">Hosting: $100/month (includes automatic backups, urgent fixes/maintenance)</p>
		<p><img src="../../images/check.png" width="24" height="24" alt="Check">Business Cards: $250 for design (printing from zazzle.com - $50 for small batch)</p>
		<p><img src="../../images/check.png" width="24" height="24" alt="Check">Social Media Account setup: negotiable.</p>
		<p><img src="../../images/check.png" width="24" height="24" alt="Check">SEO/SEM/SMM (Google Adwords and Facebook ads): negotiable.</p>
	</div>
</template>